{% extends "base.html" %}
{% block title %}Editar Proveedor{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Proveedores.css') }}">
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<form method="POST" enctype="multipart/form-data" class="suggestion-form">
    <h2 class="form-title">Editar Proveedor</h2>
    <label class="form-label">Imagen:</label>
    <input type="file" name="imagen" class="im">

    <label class="form-label">Identificación:</label>
    <input type="text" name="proveedor" value="{{ proveedor.identificacion }}" class="form-input">

    <label class="form-label">Contacto:</label>
    <textarea name="Contacto" id="Contacto" class="form-input textarea-ajustada" rows="5">{{ proveedor.contacto }}</textarea>

    <label class="form-label">Ubicación:</label>
    <input type="text" name="Ubicacion" value="{{ proveedor.ubicacion }}" class="form-input">

    <label class="form-label">Condiciones de pago:</label>
    <textarea name="Condicion" id="Condicion" class="form-input textarea-ajustada" rows="5">{{ proveedor.condiciones_de_pago }}</textarea>

    <label class="form-label">Ofrece:</label>
    <textarea name="ofrece" id="ofrece" class="form-input textarea-ajustada" rows="5">{{ proveedor.ofrece }}</textarea>

    <label class="form-label">Precio:</label>
    <textarea name="Precio" id="Precio" class="form-input textarea-ajustada" rows="5">{{ proveedor.precio }}</textarea>

    <label class="form-label">Tiempo de entrega:</label>
    <input type="text" name="tiempo" value="{{ proveedor.tiempo_de_entrega }}" class="form-input">

    <button type="submit" class="form-submit">Guardar cambios</button>
    <a href="{{ url_for('proveedor') }}" class="cancelar-btn" rel="noopener noreferrer nofollow">Cancelar</a>
</form>
{% endblock %}