/* ================================
   ESTILOS GENERALES Y RESETEO
   ================================ */
   body {
    background-color: #072B46;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.flash-messages { margin: 20px auto; max-width: 600px; }
.alert { padding: 10px 20px; border-radius: 4px; margin-bottom: 10px; text-align: center; font-family: 'Roboto', sans-serif; }
.alert-success { background: #d4edda; color: #155724; }
.alert-danger { background: #f8d7da; color: #721c24; }
/* ================================
NAVBAR - Barra de navegación
=============================== */
.nav-bar {
    width: 100%;
    background: none;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #2CDE9A;
    border-left: 2px solid #2CDE9A;
    border-right: 2px solid #2CDE9A;
    border-radius: 0 0 40px 40px;
    padding: 0 30px 10px 30px;
    box-shadow: 0 0 5px #2CDE9A;
    background: none;
}

.nav-logos {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 41px;
    margin: 0 20px 0 2px;
}

.nav-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #244757;
    padding: 10px 0;
    border-radius: 40px;
    border: 1px solid #2CDE9A;
    box-shadow: 0 0 5px #2CDE9A;
}

.nav-title h1 {
    color: #2CDE9A;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 0;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #244757;
    margin-left: 10px;
    border-radius: 40px;
    border: 1px solid #2CDE9A;
    box-shadow: 0 0 5px #2CDE9A;
}

.nav-icon {
    height: 25px;
    width: 25px;
    margin: 10px;
    transition: transform 0.2s;
}
.nav-icon:hover {
    transform: scale(1.15);
}

.select {
    text-align: center;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    padding: 20px 50px;
    border: 2px solid #2CDE9A;
    border-radius: 50px;
    position: absolute;
    box-shadow: 0 0 10px #2CDE9A;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
}

.select__option {
    text-align: center;
    box-shadow: 0 0 10px #2CDE9A;
    display: block;
    width: 250px;
    padding: 10px 20px;
    text-decoration: none;
    color: #244757;
    font-weight: bold;
    border-radius: 20px;
    margin: 30px auto;
    background-color: #2CDE9A;
    transition: width 0.2s, color 0.2s, box-shadow 0.2s;
}

.select__option:hover {
    width: 300px;
    color: white;
    box-shadow: 0 0 20px #2CDE9A;
}