/* ================================
    ESTILOS GENERALES Y RESETEO
   ================================ */
    body {
    background-color: #072B46;
    margin: 0;
}

.flash-messages { margin: 20px auto; max-width: 600px; }
.alert { padding: 10px 20px; border-radius: 4px; margin-bottom: 10px; text-align: center; font-family: 'Roboto', sans-serif; }
.alert-success { background: #d4edda; color: #155724; }
.alert-danger { background: #f8d7da; color: #721c24; }
/* ================================
NAVBAR - Barra de navegación
=============================== */
.nav-bar {
    width: 100%;
    background: none;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #2CDE9A;
    border-left: 2px solid #2CDE9A;
    border-right: 2px solid #2CDE9A;
    border-radius: 0 0 40px 40px;
    padding: 0 30px 10px 30px;
    box-shadow: 0 0 5px #2CDE9A;
    background: none;
}

.nav-logos {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 41px;
    margin: 0 20px 0 2px;
}

.nav-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #244757;
    padding: 10px 0;
    border-radius: 40px;
    border: 1px solid #2CDE9A;
    box-shadow: 0 0 5px #2CDE9A;
}

.nav-title h1 {
    color: #2CDE9A;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 0;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #244757;
    margin-left: 10px;
    border-radius: 40px;
    border: 1px solid #2CDE9A;
    box-shadow: 0 0 5px #2CDE9A;
}

.nav-icon {
    height: 25px;
    width: 25px;
    margin: 10px;
    transition: transform 0.2s;
}
.nav-icon:hover {
    transform: scale(1.15);
}

.main-section {
    color: #2CDE9A;
    font-family: 'Roboto', sans-serif;
    width: fit-content;
    font-size: 16px;
    list-style: none;
    text-align: center;
    padding: 2px;
    border-radius: 40px;
    margin: auto;
    margin-top: 20px;
}
.features-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0 0 2px 0;
}

.features-list li {
    background-color: #FDFCF8;
    width: 220px;
    height: 60px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 5px;
}
li {
    transition: transform 0.2s;
}
li:hover {
    transform: scale(1.2);
}
.features-list li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: #072B46;
}

.feature-icon {
    height: 25px;
    width: 25px;
    margin-right: 8px;
}


.features-list span {
    font-size: 14px;
    font-weight: 700;
}

.prov-section {
    color: #2CDE9A;
    font-family: 'Roboto', sans-serif;
    width: fit-content;
    border: 2px solid #2CDE9A;
    box-shadow: 0px 0px 5px #2CDE9A;
    width: 100%;
    height: 50px;
}

.proveedor-card {
    color: #2CDE9A;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #2CDE9A;
    border-radius: 40px;
    box-shadow: 0px 0px 5px #2CDE9A;
    background-color: #244757;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: fit-content;

}

.proveedor-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 10px auto;
    background-size:contain ;
    background-position: center;
}

.proveedor-info {
    background: #072B46;
    border-bottom: 2px solid #2CDE9A;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;           /* Hace que ocupe todo el ancho del contenedor */
    max-width: 500px;      /* Opcional: limita el ancho máximo */
    box-sizing: border-box;/* Asegura que el padding no desborde */
    word-break: break-word;/* Rompe palabras largas si es necesario */
}

.eliminar-btn {
    font-family: 'Roboto', sans-serif;
    background: #072B46;
    margin-bottom: 10px;
    color: #fff;
    border: none;
    border: 2px #2CDE9A solid;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    transition: background 0.2s;
}
.eliminar-btn:hover {
    background: #c94637c2;
}

.edit {
    font-family: 'Roboto', sans-serif;
    background: #072B46;
    color: #fff;
    border: 2px #2CDE9A solid;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    transition: background 0.2s, color 0.2s;
    text-decoration: none;
    display: inline-block;
}
.edit:hover {
    background: #2CDE9A;
    color: #244757;
}