{% extends "base.html" %}
{% block title %}Añadir Proveedor{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Proveedores.css') }}">
{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

<form action="" method="post" class="suggestion-form" enctype="multipart/form-data">
    <h3 class="form-title">Añadir proveedor</h3>
    <!-- Campo para el nombre del usuario -->
    <label for="imagen" class="form-label">Foto del proveedor</label>
    <input type="file" name="imagen" id="imagen" class="im" accept="image/*">

    <label for="proveedor" class="form-label">Nombre del proveedor*</label>
    <input type="text" name="proveedor" id="proveedor" class="form-input" placeholder="Ingrese el nombre del proveedor" required>

    <label for="Contacto" class="form-label">Contacto*</label>
    <textarea name="Contacto" id="Contacto" class="form-input textarea-ajustada" placeholder="Ingrese el contacto o varios contactos" required rows="3"></textarea>

    <label for="Ubicacion" class="form-label">Ubicacion</label>
    <input type="text" name="Ubicacion" id="Ubicacion" class="form-input" placeholder="Ingrese la Ubicacion del proveedor" >

    <label for="Condicion" class="form-label">Condiciones de pago</label>
    <textarea name="Condicion" id="Condicion" class="form-input textarea-ajustada" placeholder="Ingrese las condiciones de pago" rows="2"></textarea>

    <label for="ofrece" class="form-label">¿Que ofrece?*</label>
    <textarea name="ofrece" id="ofrece" class="form-input textarea-ajustada" placeholder="¿Que ofrece el proveedor?" required rows="3"></textarea>

    <label for="Precio" class="form-label">Precio*</label>
    <textarea name="Precio" id="Precio" class="form-input textarea-ajustada" placeholder="Precio" required rows="2"></textarea>

    <label for="tiempo" class="form-label">tiempo de entrega</label>
    <input type="text" name="tiempo" id="tiempo" class="form-input" placeholder="¿Cuanto tiempo tarda en entregar?">
    
    <!-- Botón para enviar el formulario -->
    <input type="submit" class="form-submit" value="Agregar proveedor">
</form>

{% endblock %}