<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="../static/img/Icono-sena.png" type="image/png">
    <!-- Vinculación al CSS principal -->
    {% block css %}
    
    {% endblock %}
</head>
<body>
    <!-- Barra de navegación principal -->
    <nav class="nav-bar">
        <div class="nav-content">
            <!-- Logos institucionales -->
            <div class="nav-logos">
                <img src="{{ url_for('static', filename='img/logo-sena.png') }}" alt="Logo institucional del SENA" class="logo" title="Logo sena">
                <img src="{{ url_for('static', filename='img/Logo-proyecto.png') }}" alt="Logo del proyecto logístico" class="logo" title="Logo del proyecto">
            </div>
            <!-- Título central -->
            <div class="nav-title">
                <h1 title="Manual técnico digital logístico para la administración, formación y distribución de almacenamiento y personas en la empresa Jumbo.">MTDL-AFDEAP</h1>
            </div>
            <!-- Menú de navegación -->
            <div class="nav-menu">
                <!-- Botones de navegación -->
                <a href="{{ url_for('index') }}" title="Inicio">
                    <img src="{{ url_for('static', filename='img/casa-en-blanco.png') }}" alt="Ir a la página de inicio" class="nav-icon">
                </a>
                <a href="{{ url_for('gestion_de_productos') }}" title="Gestión de Productos">
                    <img src="{{ url_for('static', filename='img/cajas.png') }}" alt="Gestión de productos y almacenamiento" class="nav-icon">
                </a>
                <a href="{{ url_for('control_de_inventario') }}" title="Control de Inventario">
                    <img src="{{ url_for('static', filename='img/alt-de-inventario.png') }}" alt="Control y registro de inventario" class="nav-icon">
                </a>
                <a href="{{ url_for('prevencion_de_riesgos') }}" title="Prevención de Riesgos">
                    <img src="{{ url_for('static', filename='img/casco-de-seguridad.png') }}" alt="Prevención de riesgos laborales" class="nav-icon">
                </a>
                <a href="{{ url_for('optimizacion_de_rutas') }}" title="Optimización de Rutas">
                    <img src="{{ url_for('static', filename='img/envio-rapido.png') }}" alt="Optimización de rutas de entrega" class="nav-icon">
                </a>
                <a href="{{ url_for('gestion_de_vehiculos') }}" title="Gestión de Vehículos">
                    <img src="{{ url_for('static', filename='img/mecanico-de-automoviles.png') }}" alt="Gestión y mantenimiento de vehículos" class="nav-icon">
                </a>
                <a href="{{ url_for('comprobar_usuario') }}" title="Proveedores">
                    <img src="{{ url_for('static', filename='img/proveedor-alternativo.png') }}" alt="Gestión de proveedores" class="nav-icon">
                </a>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>