{% extends "base.html" %}
{% block title %}Optimización de Rutas{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Optimizacion-de-rutas.css') }}">
{% endblock %}
{% block content %}
    {% if valor_1 %}
        <main class="select">
            <a href="{{url_for('optimizacion_de_rutas', valor1='false', valor2='true')}}" class="select__option">Solo 2 rutas</a>
            <a href="{{url_for('optimizacion_de_rutas', valor1='false', valor2='false')}}" class="select__option">Mas de 2 rutas sin retorno</a>
            <a href="{{url_for('optimizacion_de_rutas', valor1='true', valor2='false')}}" class="select__option">Mas de 2 rutas con retorno</a>
        </main>
    {% elif valor_2 %}
        <main class="select">
            <form method="post">
                <h2 class="select__title">Escoge el pais</h2>
                <input list="paises1" name="pais1" id="pais" placeholder="--Selecciona el pais--" required class="select__input">
                <datalist id="paises1">
                    {% for pais in paises %}
                    <option value="{{ pais }}"></option>
                    {% endfor %}
                </datalist>
                <input type="submit" value="Enviar" class="select_submit">
            </form>
        </main>
    {% elif valor_3 %}
    <main class="select">
        <form method="post">
            <h2 class="select__title">Añade las rutas</h2>
            <input type="text" name="destino1" id="destino1" placeholder="Inicio" required class="select__input">
            <input type="text" name="destino2" id="destino2" placeholder="Destino" required class="select__input">
            <input type="submit" value="Enviar" class="select_submit">
        </form>
    </main>
    {% elif valor_4 %}
    <main class="select">
        {% if info %}
            <ul>
                <li>Tiempo estimado: {{ info.tiempo_estimado }}</li>
                <li>Distancia: {{ info.distancia_km }}</li>
                <li>Nodos visitados: {{ info.nodos_visitados }}</li>
                <li>Tipo de ruta: {{ info.tipo_ruta }}</li>
            </ul>
        {% endif %}
    </main>

    {% endif %}
{% endblock %}
