{% extends "base.html" %}
{% block title %}Proveedores{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Proveedores.css') }}">
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<main class="main-section">
    <ul class="features-list">
        <li>
            <a href="{{ url_for('cerrar_sesion') }}">
                <img src="{{ url_for('static', filename='img/cierre-de-sesion-de-usuario.png') }}" alt="Gestión de productos y almacenamiento" class="feature-icon">
                <span>Cerrar Sesion</span>
            </a>
        </li>
    </ul>
    
</main>
<main class="main-section">
    <ul class="features-list">
        <li>
            <a href="{{ url_for('añadir_proveedor') }}">
                <img src="{{ url_for('static', filename='img/proveedor-alternativo.png') }}" alt="Gestión de productos y almacenamiento" class="feature-icon">
                <span>Añadir proveedor</span>
            </a>
        </li>
    </ul>
</main>
<main class="main-section">
    <ul class="features-list">
        <li>
            <a href="{{ url_for('IA') }}">
                <img src="{{ url_for('static', filename='img/algoritmo-de-ia.png') }}" alt="Gestión de productos y almacenamiento" class="feature-icon">
                <span>Consulta con la IA</span>
            </a>
        </li>
    </ul>
</main>
{% for proveedor in empresarios %}
<div class="proveedor-card">
    <h2>{{ proveedor.identificacion }}</h2>
    <img src="{{ url_for('imagen_proveedor', proveedor_id=proveedor.id) }}" alt="{{ proveedor.identificacion }}" class="proveedor-image">
    <p class="proveedor-info"><strong>Contacto:</strong> {{ proveedor.contacto | replace('\n', '<br>') | safe }}</p>
    <p class="proveedor-info"><strong>Ubicacion:</strong> {{ proveedor.ubicacion | replace('\n', '<br>') | safe }}</p>
    <div class="proveedor-mapa">
        <iframe
            width="350"
            height="250"
            style="border:0; border-radius:15px; margin-top:10px; box-shadow:0 4px 8px rgba(0,0,0,0.1); margin-bottom: 20px;"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps?q={{ proveedor.ubicacion | urlencode }}&output=embed">
        </iframe>
    </div>
    <p class="proveedor-info"><strong>Condiciones:</strong> {{ proveedor.condiciones_de_pago | replace('\n', '<br>') | safe }}</p>
    <p class="proveedor-info"><strong>Ofrece:</strong> {{ proveedor.ofrece | replace('\n', '<br>') | safe }}</p>
    <p class="proveedor-info"><strong>Precio:</strong> {{ proveedor.precio | replace('\n', '<br>') | safe }}</p>
    <p class="proveedor-info"><strong>Tiempo de entrega:</strong> {{ proveedor.tiempo_de_entrega | replace('\n', '<br>') | safe }}</p>
    <a href="{{ url_for('editar_proveedor', proveedor_id=proveedor.id) }}" class="edit">Editar</a>
    
    <form action="{{ url_for('eliminar_proveedor', proveedor_id=proveedor.id) }}" method="POST">
        <button type="submit" class="eliminar-btn">Eliminar proveedor</button>
    </form>
</div>
{% endfor %}    
{% endblock %}
